<?xml version="1.0"?>
<configuration>
	<appSettings>
		<!-- Parameter to pass to KeyboardHook constructor. 
			Possible values: None, AllowAltTab, AllowWindowsKey, 
			AllowAltTabAndWindows, PassAllKeysToNextApp -->
		<add key="KeyboardHookConfig" value="AllowAltF4"/>

		<!-- What to display for each keystroke (from DrawShapes.ShapeType enum)
			Possible values: Text, Circles, Squares or Random -->
		<add key="DisplayConfig" value="RandomWithText"/>
		
	</appSettings>
<startup><supportedRuntime version="v2.0.50727"/></startup></configuration>
